In [169]:
import pandas as pd
import numpy as np

In [170]:
# credit to https://www.datacamp.com/community/tutorials/web-scraping-using-python
# The urllib.request module is used to open URLs. The Beautiful Soup package is used to extract data from html files.
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [171]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [200]:
# Extract the specific table required from the web page html
tables = soup.find_all('table', attrs={"class": "wikitable sortable"})

In [199]:
#Extract the rows from the table
for row in tables:
    row_td = row.find_all('tr')
type(row_td)

bs4.element.ResultSet

In [201]:
#Remove html coding from the rows and convcert to a string
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
type(cleantext)

str

In [204]:
#Split string up in relevant rows
list_rows = cleantext.split("\n,")

In [205]:
#Convert string rows into a dataframe
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0          [\nPostal Code\n\nBorough\n\nNeighborhood
1                          \nM1A\n\nNot assigned\n\n
2                          \nM2A\n\nNot assigned\n\n
3                   \nM3A\n\nNorth York\n\nParkwoods
4            \nM4A\n\nNorth York\n\nVictoria Village
5   \nM5A\n\nDowntown Toronto\n\nRegent Park, Har...
6   \nM6A\n\nNorth York\n\nLawrence Manor, Lawren...
7   \nM7A\n\nDowntown Toronto\n\nQueen's Park, On...
8                          \nM8A\n\nNot assigned\n\n
9   \nM9A\n\nEtobicoke\n\nIslington Avenue, Humbe...

In [206]:
# Split up cells in each row
df1 = df[0].str.split('\n', expand=True)
df1.head(5)

   0            1 2             3 4                 5     6
0  [  Postal Code         Borough        Neighborhood  None
1             M1A    Not assigned                      None
2             M2A    Not assigned                      None
3             M3A      North York           Parkwoods  None
4             M4A      North York    Victoria Village  None

Drop Extra Columns

In [207]:
df2 = df1.drop([df1.index[0],df1.index[2],df1.index[4],df1.index[6]], axis=1)
df2.head(5)

             1             3                 5
0  Postal Code       Borough      Neighborhood
1          M1A  Not assigned
2          M2A  Not assigned
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

Rename Columns

In [208]:
df2.rename(columns={1: 'Postal Code', 3: 'Borough', 5: 'Neighborhood'}, inplace=True)
df2.head(5)

   Postal Code       Borough      Neighborhood
0  Postal Code       Borough      Neighborhood
1          M1A  Not assigned
2          M2A  Not assigned
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

Drop Unneeded Rows

In [209]:
df3 = df2.drop(df2.index[0])
df4 = df3[df3.Borough != 'Not assigned']
df4.head(5)

  Postal Code           Borough                                 Neighborhood
3         M3A        North York                                    Parkwoods
4         M4A        North York                             Victoria Village
5         M5A  Downtown Toronto                    Regent Park, Harbourfront
6         M6A        North York             Lawrence Manor, Lawrence Heights
7         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [210]:
# Reset the index
df5 = df4.reset_index()
list(df5.columns)

['index', 'Postal Code', 'Borough', 'Neighborhood']

In [211]:
# Remove the old index
df5.drop('index', axis=1, inplace=True)
df5.head(5)

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [212]:
df5.shape

(103, 3)